body {
    margin: 0;
    padding: 0;
    background-color: rgb(37, 141, 238);
    color: rgb(240,240,240);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-family: 'Lemon/Milk', Arial, Helvetica, sans-serif;    
}

header {
    width: 95%;
    max-width: 788px;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin-top: 15px;
}

/* /////////// CSS styling for the nav bar ///////// */
.navbar {
    /* Remove default list styling */
    list-style-type: none;
    
    /* Center the navigation bar */
    /* navbar stays at the top while scrolling */
    /* position: fixed; */
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #eeeeee; /* blue nav bar background */
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 99999;
}

/* Style for each item in the navigation bar */
.navbar li {
    float: left; /* Align items horizontally */
}

/* Style for each link in the navigation bar */
.navbar li .link {
    font-family: Cambria, Arial, Lato;
    font-size: 12px;
    display: block;
    color: rgb(241, 241, 241); /* Off white text color */
    text-align: center;
    padding: 14px 16px; /* Padding around text */
    text-decoration: none; /* Remove underline from links */
}

.navbar img {
    height: 35px;
    width: 35px;
    /* padding: 3px; */
    padding-top: 3px;
    border-radius: 48px;
    overflow: hidden;
}

/* /////////// CSS styling for the copy link ///////// */

.share-button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(240,240,240);
}

.share-button svg {
    margin-left: 12px;
    margin-top: 10px;
    color: rgb(0,0,0);
}

/* /////////// CSS styling for the link tree links ///////// */

.container {
    width: 91%;
    max-width: 680px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: rgb(240,240,240);
}

.tile {
    width: 100%;
    background-color: goldenrod;
    margin: 7px;
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
}

.tile p {
    font-size: 16px;
    /* font-family: Lemon Milk, Arial, Helvetica, sans-serif; */
}

.tile:hover {
    transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.2s;
    transform: scale(1.02);
}

.tile-copy-button {
    margin: 8px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(37, 141, 238);
}

.tile-copy-button svg {
    margin-left: 12px;
    margin-top: 10px;
    /* color: whitesmoke; */
}

.image-container {
    height: 96px;
    width: 96px;
    border-radius: 48px;
    overflow: hidden;
}

.image-container img {
    height: 100%;
}

.icon {
    margin: 4px 8px;
    width: 44px;
    height: 44px;
}